.hero {
  background-color: #5DC1E0;
  width: 100%;
  height: 100vh;
}
.hero__figure {
  width: 35%;
  min-width: 15rem;
  height: 100%;
}
.hero__figcaption {
  text-align: center;
}
.hero__img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}
@media (max-width: 720px) {
  .hero__img--img {
    width: 100%;
    height: auto;
  }
}
.hero__a {
  font-family: arial black;
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
  transition: all 0.3s ease-in-out;
}
.hero__a:hover {
  transform: scale(1.1);
}

.hero__section--img {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
@media (max-width: 720px) {
  .hero__section--img {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    gap: 0;
  }
}
.hero__section--logo {
  position: absolute;
  top: 60vh;
  width: 100%;
  filter: drop-shadow(0.1rem 0.1rem 0.1rem black);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
}
@media (max-width: 500px) {
  .hero__section--logo {
    top: 20vh;
  }
}

.banner {
  background-color: red;
  height: 100vh;
}
.banner__img {
  background-color: yellow;
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.header {
  background-color: rgba(255, 255, 255, 0.6);
  height: 5.5rem;
  width: 100%;
  position: fixed;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-gap: 0rem;
}
@media (max-width: 720px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 0rem;
  }
}
.header__img {
  height: 5rem;
  object-fit: scale-down;
}
.header__button {
  display: none;
  width: 3rem;
  height: 50%;
}
@media (max-width: 720px) {
  .header__button {
    display: block;
  }
}
.header__logo-responsive {
  display: none;
}
@media (max-width: 720px) {
  .header__logo-responsive {
    display: block;
  }
}

.nav {
  background-color: rgba(255, 255, 255, 0.6);
  height: 100%;
  width: 100%;
  display: block;
}
@media (max-width: 720px) {
  .nav {
    height: calc(100vh - 5.5rem);
    transform: translateX(100rem);
    transition: all 0.5s ease-in-out;
  }
  .nav.activo {
    display: block;
    transform: translateX(0rem);
  }
}
.nav__ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1rem;
}
@media (max-width: 720px) {
  .nav__ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 0rem;
  }
}
.nav__li {
  list-style: none;
}
.nav__li--logo {
  display: block;
}
@media (max-width: 720px) {
  .nav__li--logo {
    display: none;
  }
}
.nav__a {
  color: black;
  text-decoration: none;
  font-family: arial black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*# sourceMappingURL=styles.css.map */
