.header {
  background-color: rgb(255, 255, 255);
  height: 5rem;
  width: 100%;
  position: fixed;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-gap: 0rem;
  z-index: 1;
}
@media (max-width: 720px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 0rem;
  }
}
.header__img {
  height: 4.5rem;
  object-fit: scale-down;
}
.header__button {
  display: none;
  width: 3rem;
  height: 50%;
}
@media (max-width: 720px) {
  .header__button {
    display: block;
  }
}
.header__logo-responsive {
  display: none;
  width: 80%;
}
@media (max-width: 720px) {
  .header__logo-responsive {
    display: block;
  }
}

.nav {
  background-color: rgb(255, 255, 255);
  height: 100%;
  width: 100%;
  display: block;
}
@media (max-width: 720px) {
  .nav {
    height: 100vh;
    transform: translateX(100rem);
    transition: all 0.5s ease-in-out;
  }
  .nav.activo {
    display: block;
    transform: translateX(0rem);
  }
}
.nav__ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1rem;
}
@media (max-width: 720px) {
  .nav__ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 10%;
  }
}
.nav__li {
  list-style: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
}
.nav__li:hover {
  transform: scale(1.2);
}
.nav__li--logo {
  transition: all 0.2s ease-in-out;
  display: block;
}
@media (max-width: 720px) {
  .nav__li--logo {
    display: none;
  }
}
.nav__li--logo:hover {
  transform: scale(1.2);
}
.nav__a {
  color: black;
  text-decoration: none;
  font-family: arial black;
}
.nav__a:hover {
  color: #7B0000;
  text-shadow: 0rem 0rem 0.5rem #FFFB73;
}

.banner {
  height: 100vh;
  background-color: rgb(23, 23, 23);
}
.banner__img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.section-full {
  height: 40rem;
}
.section-full__text {
  padding: 1.5rem 0rem;
}
.section-full__img {
  object-fit: scale-down;
}
.section-full__ul {
  list-style: none;
}

.section-big {
  height: 35rem;
}

.sub-section__background {
  height: 100%;
}
.sub-section__text {
  text-align: center;
  font-family: arial;
}
.sub-section__title {
  text-align: center;
  font-family: arial;
}
.sub-section__h2 {
  margin-bottom: 1rem;
  font-family: arial;
}
.sub-section__ul {
  list-style: none;
}
.sub-section__li {
  margin-bottom: 0.5rem;
}
.sub-section__img {
  object-fit: scale-down;
}
.sub-section__description {
  font-family: arial;
  font-size: 1rem;
}

.section__h2--space-bar {
  font-family: arial black;
  font-size: 5rem;
  color: #7B0000;
}
@media (max-width: 720px) {
  .section__h2--space-bar {
    font-size: 3rem;
  }
}

.footer {
  background-color: white;
  height: calc(100vh - 5rem);
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 25% 75%;
  grid-gap: 0rem;
}
.footer__section:first-of-type {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0rem;
}
.footer__section:last-of-type {
  background-image: url(../img/footer/gorillaz_baby-queen.jpg);
  background-size: cover;
}
.footer__ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 5%;
}
.footer__li {
  list-style: none;
}
.footer__a {
  background-color: white;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  display: block;
  font-size: 1.2rem;
  height: 2.3rem;
  width: 2.3rem;
  border: 0.15rem solid rgba(0, 0, 0, 0.8);
  border-radius: 20rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0rem;
  transition: all 0.3s ease-in-out;
}
.footer__a:hover {
  background-color: #7B0000;
  color: white;
  border-color: #7B0000;
  transform: scale(2.5) rotate(360deg);
}
.footer__a:active {
  background-color: #E90832;
  color: white;
  border-color: #E90832;
}
.footer__a--home {
  height: 4rem;
  width: 4rem;
  border: none;
}
.footer__a--home:hover {
  background-color: transparent;
  border: none;
  transform: scale(1.8) rotate(360deg);
}

html::-webkit-scrollbar {
  width: 0.5rem;
  background-color: #fff;
}
html::-webkit-scrollbar-thumb {
  background: #d40f60;
  height: 5rem;
}

.hero {
  background-color: #5DC1E0;
  width: 100%;
  height: 100vh;
}
.hero__figure {
  width: 35%;
  min-width: 15rem;
  height: 100%;
}
.hero__figcaption {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0rem;
}
.hero__img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}
@media (max-width: 720px) {
  .hero__img--img {
    width: 100%;
    height: auto;
  }
}
.hero__a {
  font-family: arial black;
  display: block;
  width: 15rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
  animation-name: Pulse-Animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  position: relative;
}
.hero__a svg {
  position: absolute;
  left: 0;
  top: -50%;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  pointer-events: none;
}
.hero__a path {
  transition: stroke-dashoffset 300ms linear;
  stroke-width: 1;
  stroke: #FFFB73;
  fill: none;
  stroke-linecap: round;
}
.hero__a:hover path {
  stroke-dashoffset: 0;
}

@keyframes Pulse-Animation {
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
.hero__section--img {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
@media (max-width: 720px) {
  .hero__section--img {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    gap: 0;
  }
}
.hero__section--logo {
  position: absolute;
  top: 60vh;
  width: 100%;
  filter: drop-shadow(0.1rem 0.1rem 0.1rem black);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
}
@media (max-width: 500px) {
  .hero__section--logo {
    top: 20vh;
  }
}

.banner--about {
  background-color: white;
}
@media (max-width: 720px) {
  .banner--about {
    padding-top: 4em;
    height: calc(100vh - 25rem);
  }
}

.section-full--banner-about-2 {
  background-color: rgb(39, 39, 39);
  background-image: url(../img/backgrounds/art-colors.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 70% 30%;
  grid-gap: 0rem;
}
@media (max-width: 720px) {
  .section-full--banner-about-2 {
    height: 25rem;
  }
}
.section-full__ul--banner-about-2 {
  width: 100%;
  height: 100%;
  filter: drop-shadow(1rem -0.5rem 0.5rem black);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1rem;
}

.section-full--about {
  padding-top: 5rem;
  height: 100vh;
  background-color: black;
  color: black;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: auto;
  grid-gap: 0rem;
}
@media (max-width: 720px) {
  .section-full--about {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    grid-gap: 0rem;
    background-position: center;
  }
}

.sub-section--about-img {
  background-image: url(../img/about/about.jpg);
  background-size: cover;
  box-shadow: inset -6rem 0rem 3rem black;
}
@media (max-width: 720px) {
  .sub-section--about-img {
    background-position: center;
    box-shadow: inset 0rem -2rem 2rem black;
  }
}
.sub-section__background--about-text {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1rem;
}
.sub-section--about-text {
  background-image: url(../img/about/triangles.png);
  background-size: contain;
  background-position: center;
  background-attachment: fixed;
  box-shadow: inset 1rem 0rem 1rem black;
}
.sub-section__photo--screen-small {
  display: none;
}
@media (max-width: 900px) {
  .sub-section__photo--screen-small {
    display: block;
  }
}
@media (max-width: 900px) {
  .sub-section__photo--screen-big {
    display: none;
  }
}
.sub-section__description--about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 0rem;
}
.sub-section__description--about--character-1 {
  padding-left: 5vw;
  color: white;
}
.sub-section__description--about--character-2 {
  padding-right: 5vw;
  color: black;
}
@media (max-width: 900px) {
  .sub-section__description--about--character-2 {
    padding-right: 0vw;
    padding-left: 5vw;
  }
}
.sub-section__description--about--character-3 {
  padding-left: 5vw;
  color: white;
}
.sub-section__description--about--character-4 {
  padding-right: 5vw;
}
@media (max-width: 900px) {
  .sub-section__description--about--character-4 {
    padding-right: 0vw;
    padding-left: 5vw;
  }
}
.sub-section__h2--character {
  font-size: 3rem;
}

.section__medium {
  height: 25rem;
  width: 100%;
  background-color: yellowgreen;
  transition: all 0.5s ease-in-out;
}
.section__medium--space-bar {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0rem;
}
.section__medium--about-character-1 {
  background-color: #5DC1E0;
  display: grid;
  grid-template-columns: 55% 45%;
  grid-template-rows: 100%;
  grid-gap: 0rem;
}
@media (max-width: 900px) {
  .section__medium--about-character-1 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 60% 40%;
    grid-gap: 0rem;
  }
}
.section__medium--about-character-1:hover {
  transform: scale(1.02);
  box-shadow: 0rem 0rem 2rem black;
}
.section__medium--about-character-2 {
  background-color: #70F6CD;
  display: grid;
  grid-template-columns: 45% 55%;
  grid-template-rows: 100%;
  grid-gap: 0rem;
}
@media (max-width: 900px) {
  .section__medium--about-character-2 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 60% 40%;
    grid-gap: 0rem;
  }
}
.section__medium--about-character-2:hover {
  transform: scale(1.02);
  box-shadow: 0rem 0rem 2rem black;
}
.section__medium--about-character-3 {
  background-color: #d40f60;
  display: grid;
  grid-template-columns: 55% 45%;
  grid-template-rows: 100%;
  grid-gap: 0rem;
}
@media (max-width: 900px) {
  .section__medium--about-character-3 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 60% 40%;
    grid-gap: 0rem;
  }
}
.section__medium--about-character-3:hover {
  transform: scale(1.02);
  box-shadow: 0rem 0rem 2rem black;
}
.section__medium--about-character-4 {
  background-color: #FFFB73;
  display: grid;
  grid-template-columns: 45% 55%;
  grid-template-rows: 100%;
  grid-gap: 0rem;
}
@media (max-width: 900px) {
  .section__medium--about-character-4 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 60% 40%;
    grid-gap: 0rem;
  }
}
.section__medium--about-character-4:hover {
  transform: scale(1.02);
  box-shadow: 0rem 0rem 2rem black;
}

.section-banner--discography {
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: nowrap;
  gap: 0rem;
}

.section__background--discography {
  height: calc(100vh - 5rem);
  width: 100%;
  background-image: url(../img/discography/discography.jpg);
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0rem;
}
@media (max-width: 720px) {
  .section__background--discography {
    background-position: center;
  }
}

.sub-section--discography {
  color: white;
  font-family: arial black;
  text-align: center;
  font-size: 1.6rem;
}
.sub-section--discography-text {
  background-color: white;
  font-family: arial;
  font-size: 1.1rem;
}
.sub-section--discography-text--right {
  text-align: right;
  padding-right: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: nowrap;
  gap: 0rem;
}
.sub-section--discography-text--left {
  text-align: left;
  padding-left: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 0rem;
}
@media (max-width: 720px) {
  .sub-section--discography-text--left {
    padding-left: 10%;
  }
}
.sub-section__img--album-img {
  filter: drop-shadow(10px 5px 15px rgb(11, 11, 11));
}
.sub-section__h2--discography {
  font-size: 2.5rem;
  font-family: arial;
  text-shadow: 0.1rem 0.1rem 0.1rem black;
}
@media (max-width: 720px) {
  .sub-section__h2--discography {
    font-size: 2rem;
  }
}
.sub-section__h2--album-text {
  font-size: 2.5rem;
}
.sub-section__h2--album-text-white {
  color: white;
  text-shadow: 0.1rem 0.1rem 0.1rem black;
}
.sub-section__album-text {
  font-family: arial;
  padding-left: 1rem;
  padding-right: 20%;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 0rem;
}
@media (max-width: 720px) {
  .sub-section__album-text {
    padding-right: 1rem;
  }
}

.section-full--discography {
  background-image: url(../img/discography/discography.jpg);
  background-size: cover;
  background-color: white;
  filter: sepia(1);
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  grid-gap: 0rem;
}
@media (max-width: 720px) {
  .section-full--discography {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    grid-gap: 0rem;
  }
}
.section-full--discography-2 {
  filter: grayscale(90%);
}
.section-full__album {
  background-color: rgb(11, 11, 11);
  background-size: cover;
  background-attachment: fixed;
  padding: 7rem 0rem;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  grid-gap: 0rem;
}
@media (max-width: 720px) {
  .section-full__album {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 40% 60%;
    grid-gap: 0rem;
    padding: 3rem 1rem 0rem 1rem;
  }
}
.section-full__album--1 {
  background-image: url(../img/backgrounds/white-texture.jpg);
}
.section-full__album--2 {
  background-image: url(../img/backgrounds/blue-texture.jpg);
  color: white;
}
.section-full__album--3 {
  background-image: url(../img/backgrounds/orange-texture.jpg);
  color: white;
}
.section-full__album--4 {
  background-image: url(../img/backgrounds/red-texture.jpg);
  color: white;
}
.section-full__album--5 {
  background-image: url(../img/backgrounds/brown-texture.jpg);
  color: white;
}
.section-full__album--6 {
  background-image: url(../img/backgrounds/pink-texture.jpg);
}
.section-full__album--7 {
  background-image: url(../img/backgrounds/aqua-texture.jpg);
}
.section-full__album--8 {
  background-image: url(../img/backgrounds/wall-texture.jpg);
}
.section-full__album--9 {
  background-image: url(../img/backgrounds/vino-texture.jpg);
  color: white;
}
.section-full__album--10 {
  background-image: url(../img/backgrounds/woven-texture.jpg);
  color: white;
}

.section--gallery {
  padding: 5rem 0rem;
}

.sub-section__figure--gallery {
  width: 15rem;
  height: 20rem;
  margin-bottom: 0.5rem;
  transition: all 0.2s ease-in-out;
}
.sub-section__figure--gallery:hover {
  transform: scale(1.1);
}
.sub-section__figcaption {
  text-align: center;
  font-family: arial;
}
.sub-section--gallery-title {
  font-family: arial;
  padding: 1rem 10%;
  font-size: 2rem;
}
.sub-section--gallery-imgs {
  padding: 2rem 0rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/*# sourceMappingURL=styles.css.map */
