// ***** Componentes ***** //
@forward 'components/header-nav.scss';
@forward 'components/banner.scss';
@forward 'components/section-full.scss';
@forward 'components/section-big.scss';
@forward 'components/sub-section.scss';
@forward 'components/space-bar.scss';
@forward 'components/footer.scss';
@forward 'components/scroll-bar.scss';

// ***** Paginas ***** //
@forward 'pages/hero.scss';
@forward 'pages/home.scss';
@forward 'pages/about.scss';
@forward 'pages/discograpy.scss';
@forward 'pages/gallery.scss';

// ***************************** Styles *********************/
// Styles: Generales *****
// HTML
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}