// ***** Paginas ***** //
@forward 'pages/hero.scss';
@forward 'pages/home.scss';

// ***** Componentes *****
@forward 'components/header-nav.scss';


// Styles Generales
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}