<footer class="footer" id="links">
    <section class="footer__section">
        <ul class="footer__ul">
            <li class="footer__li"><a aria-label="YouTube"   href="https://www.youtube.com/channel/UCfIXdjDQH9Fau7y99_Orpjw" class="footer__a footer__a--links" target="_blank"><i class="fa-brands fa-youtube"></i></a></li>
            <li class="footer__li"><a aria-label="Instagram" href="https://www.instagram.com/gorillaz/" class="footer__a footer__a--links" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
            <li class="footer__li"><a aria-label="Facebook"  href="https://www.facebook.com/Gorillaz/" class="footer__a footer__a--links" target="_blank"><i class="fa-brands fa-facebook-f"></i></a></li>
            <li class="footer__li"><a aria-label="Web Site"  href="https://www.gorillaz.com/" class="footer__a footer__a--links" target="_blank"><i class="fa-solid fa-globe"></i></a></li>
        </ul>
    </section>
    <section class="footer__section">
    </section>
</footer>
<!-- Js -->
<script src="../js/nav.js"></script>
</body>
</html>