<!-- Header -->
<header class="header">
    <div class="header__logo-responsive">
        <a href="../index.php" class="nav__a">
            <img src="../img/logos/gorillaz-red.png" alt="Gorillaz Logo" class="header__img" width="100%" height="100%">
        </a>
    </div>
    <button type="button" class="header__button">
        <svg class="header__svg" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        </svg>
    </button>
    <nav class="nav">
            <ul class="nav__ul">
                <li class="nav__li"><a href="../pages/about.php" class="nav__a">About</a></li>
                <li class="nav__li"><a href="../pages/discography.php" class="nav__a">Discography</a></li>
                <li class="nav__li--logo">
                    <a href="../index.php" class="nav__a">
                        <img src="../img/logos/gorillaz-red.png" alt="Gorillaz Logo" class="header__img" width="100%" height="100%">
                    </a>
                </li>
                <li class="nav__li"><a href="#" class="nav__a">Gallery</a></li>
                <li class="nav__li"><a href="#links" class="nav__a">Links</a></li>
            </ul>
        </nav>
</header>
