<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Medina Arcos Jonatan Ruben">
    <meta name="description" content="Gorillaz Web Site: Sitio web de la banda Gorillaz realizado en HTML con base a la metodología BEM y las herramientas de SASS. Uso de javaScript para el funcionamiento de carrusel.">
    <!-- Icon -->
    <link rel="shortcut icon" href="../img/ico/favicon.ico" type="image/x-icon">
    <!-- CSS -->
    <link rel="stylesheet" href='<?=isset($CSS_route) ? $CSS_route: "../css/styles.css"?>'>
    <title><?=isset($PageTitle) ? $PageTitle: "Gorillaz Web Site"?></title>
</head>
<body>