// ***** Colores y fuentes ***** //
@use '../tools/colors' as h;

// // ***** Mixin: Flex, Grid and media ***** //
@use '../tools/mixins' as mixh;

// Styles: About
.section-full{
    &--about{
        padding-top: 5rem;
        height: 100vh;
        background-color: black;
        color: black;

        @include mixh.Grid-System(60% 40%, auto, 0rem);
        @include mixh.Media-Screen(720px){
            @include mixh.Grid-System(100%, 50% 50%, 0rem);
            background-position: center;
        }
    }
}
.sub-section{
    &--about-img{
        background-image: url(../img/about/about.jpg);
        background-size:cover;
        box-shadow:inset -6rem 0rem 3rem black;
        @include mixh.Media-Screen(720px){
            background-position: center;
            box-shadow:inset 0rem -2rem 2rem black;
        }
    }
    &__background{
        &--about-text{
            color:white;
            background-color: rgba(black, 0.5);
            padding: 3rem;
            @include mixh.Flex-System(column, center, center, nowrap, 1rem);
        }
    }
    &--about-text{
        background-image: url(../img/about/triangles.png);
        background-size:contain;
        background-position: center;
        background-attachment: fixed;
        box-shadow: inset 1rem 0rem 1rem black;
    }
    &__photo{
        &--screen-small{
            display: none;
            @include mixh.Media-Screen(900px){display: block;}
        }
        &--screen-big{
            @include mixh.Media-Screen(900px){display: none}
        }
    }
    &__description--about{
        @include mixh.Flex-System(column, center, flex-start, nowrap, 0rem);

        &--character-1{
            padding-left: 5vw;
            color: white;
        }
        &--character-2{
            padding-right: 5vw;
            color: black;
            @include mixh.Media-Screen(900px){padding-right: 0vw; padding-left: 5vw;}
        }
        &--character-3{
            padding-left: 5vw;
            color: white;
        }
        &--character-4{
            padding-right: 5vw;
            @include mixh.Media-Screen(900px){padding-right: 0vw; padding-left: 5vw;}
        }
    }
    &__h2--character{
        font-size: 3rem;
    }
}
.section__medium{
    height: 25rem;
    width: 100%;
    background-color: yellowgreen;
    transition: all 0.5s ease-in-out;

    &--space-bar{
        background-color: white;
        @include mixh.Flex-System(row, center, center, nowrap, 0rem);
    }
    &--about-character-1{
        background-color: h.$basic-color;
        @include mixh.Grid-System(55% 45%, 100%, 0rem);
        @include mixh.Media-Screen(900px){
            @include mixh.Grid-System(100%, 60% 40%, 0rem);
        }
        &:hover{
            transform: scale(1.02);
            box-shadow: 0rem 0rem 2rem black;
        }
    }
    &--about-character-2{
        background-color: h.$quinary-color;
        @include mixh.Grid-System(45% 55%, 100%, 0rem);
        @include mixh.Media-Screen(900px){
            @include mixh.Grid-System(100%, 60% 40%, 0rem);
        }
        &:hover{
            transform: scale(1.02);
            box-shadow: 0rem 0rem 2rem black;
        }
    }
    &--about-character-3{
        background-color: h.$secundary-color;
        @include mixh.Grid-System(55% 45%, 100%, 0rem);
        @include mixh.Media-Screen(900px){
            @include mixh.Grid-System(100%, 60% 40%, 0rem);
        }
        &:hover{
            transform: scale(1.02);
            box-shadow: 0rem 0rem 2rem black;
        }
    }
    &--about-character-4{
        background-color: h.$quaternary-color;
        @include mixh.Grid-System(45% 55%, 100%, 0rem);
        @include mixh.Media-Screen(900px){
            @include mixh.Grid-System(100%, 60% 40%, 0rem);
        }
        &:hover{
            transform: scale(1.02);
            box-shadow: 0rem 0rem 2rem black;
        }
    }
}