// ***** Colores y fuentes ***** //
@use '../tools/colors' as h;

// // ***** Mixin: Flex, Grid and media ***** //
@use '../tools/mixins' as mixh;

// Styles: Discography
.section-banner{
    &--discography{
        background-color: white;
        height: 100vh;
        @include mixh.Flex-System(row, center, flex-end, nowrap, 0rem);
    }
}
.section{
    &__background{
        &--discography{
            height: calc(100vh - 5rem);
            width: 100%;
            background-image: url(../img/discography/discography.jpg);
            background-size: cover;
            @include mixh.Flex-System(row, space-evenly, center, nowrap, 0rem);
            @include mixh.Media-Screen(720px){
               background-position: center;
            }
        }
    }
}
.sub-section{
    &--discography{
        color: white;
        font-family: h.$primary-text-font;
        text-align: center;
        font-size: 1.6rem;
        // background-color: red;
    }
    &--discography-text{
        background-color: white;
        font-family: arial;
        font-size: 1.1rem;

        &--right{
            text-align: right;
            padding-right: 20%;
            @include mixh.Flex-System(column, center, flex-end, nowrap, 0rem);
        }
        &--left{
            text-align: left;
            padding-left: 20%;
            @include mixh.Flex-System(column, center, flex-start, nowrap, 0rem);
            @include mixh.Media-Screen(720px){padding-left: 10%;}
        }
    }
    &__img{
        &--album-img{
            filter: drop-shadow(10px 10px 10px h.$octonary-color);
        }
    }
    &__h2{
        &--discography{
            font-size: 2.5rem;
            font-family: arial;
            text-shadow: 0.1rem 0.1rem 0.1rem black;
            
            @include mixh.Media-Screen(720px){font-size: 2rem;}
        }
        &--album-text{
            font-size: 2.5rem;

            &-white{
                color: white;
                text-shadow: 0.1rem 0.1rem 0.1rem black;
            }
        }
    }
    &__album-text{
        font-family: arial;
        // background-color: green;
        padding-left: 1rem;
        padding-right: 20%;
        font-size: 1rem;
        @include mixh.Flex-System(column, center, flex-start, nowrap, 0rem);
        @include mixh.Media-Screen(720px){padding-right: 1rem;}
    }
}
.section-full{
    &--discography{
        background-image: url(../img/discography/discography.jpg);
        background-size: cover;
        background-color: white;
        filter: sepia(1);

        @include mixh.Grid-System(50% 50%, 100%, 0rem);
        @include mixh.Media-Screen(720px){
            @include mixh.Grid-System(100%, 50% 50%, 0rem);
        }
        &-2{
            filter:grayscale(90%);
        }
    }
    &__album{
        background-color: h.$octonary-color;
        background-size: cover;
        background-attachment: fixed;
        padding: 7rem 0rem;
        @include mixh.Grid-System(50% 50%, 100%, 0rem);
        @include mixh.Media-Screen(720px){
            @include mixh.Grid-System(100%, 40% 60%, 0rem);
            padding: 3rem 1rem 0rem 1rem;
        }

        &--1{background-image: url(../img/backgrounds/white-texture.jpg);}
        &--2{background-image: url(../img/backgrounds/blue-texture.jpg); color: white;}
        &--3{background-image: url(../img/backgrounds/orange-texture.jpg); color: white;}
        &--4{background-image: url(../img/backgrounds/red-texture.jpg); color: white;}
        &--5{background-image: url(../img/backgrounds/brown-texture.jpg); color: white;}
        &--6{background-image: url(../img/backgrounds/pink-texture.jpg);}
        &--7{background-image: url(../img/backgrounds/aqua-texture.jpg);}
        &--8{background-image: url(../img/backgrounds/wall-texture.jpg);}
        &--9{background-image: url(../img/backgrounds/vino-texture.jpg); color: white;}
        &--10{background-image: url(../img/backgrounds/woven-texture.jpg); color: white;}
    }
}
