// ***** Colores y fuentes ***** //
@use '../tools/colors' as h;

// // ***** Mixin: Flex, Grid and media ***** //
@use '../tools/mixins' as mixh;

// Styles: Gallery
.section{
    &--gallery{
        padding: 5rem 0rem;
    }
}
.sub-section{
    &__figure{
        &--gallery{
            width: 15rem;
            height: 20rem;
            margin-bottom: 0.5rem;
            transition: all 0.2s ease-in-out;

            &:hover{transform: scale(1.1);}
        }
    }
    &__figcaption{
        text-align: center;
        font-family: arial;
    }
    &--gallery-title{
        font-family: arial;
        padding: 1rem 10%;
        font-size: 2rem;
    }
    &--gallery-imgs{
        padding: 2rem 0rem;
        @include mixh.Flex-System(row, center, center, wrap, 2.5rem);
    }
}