// ***** Colores y fuentes ***** //
@use '../tools/colors' as h;

// // ***** Mixin: Flex, Grid and media ***** //
@use '../tools/mixins' as mixh;

// Styles: Hero *****
.hero{
    background-color: h.$basic-color;
    width: 100%;
    height: 100vh;

    &__figure{
        width: 35%;
        min-width: 15rem;
        height: 100%;
    }
    &__figcaption{
        text-align: center;
    }
    &__img{
        width: 100%;
        height: 100%;
        // background-color: red;
        object-fit: scale-down;

        &--img{
            @include mixh.Media-Screen(720px){
                width: 100%;
                height: auto;
            }
        }
    }
    &__a{
        font-family: h.$primary-text-font;
        display: block;
        font-size: 1.5rem;
        font-weight: bold;
        text-decoration: none;
        color: white;
        animation-name: Pulse-Animation;
        animation-duration: 2s;
        animation-iteration-count: infinite;

        &:hover{
            transition:all 0.3s ease-in-out;
            color: h.$quaternary-color;
        }
    }
}
@keyframes Pulse-Animation {
    100%{transform: scale(1);}
    50%{transform: scale(1.1);}
    50%{transform: scale(0.8);}
    100%{transform: scale(1);}
}
.hero__section{
    &--img{
        // background-color: yellow;
        height: 100vh;
        width: 100vw;
        overflow: hidden;
        @include mixh.Media-Screen(720px){
            @include mixh.Flex-System(column, flex-end, center, nowrap, 0);
        }
    }
    &--logo{
        // background-color: red;
        position:absolute;
        top: 60vh;
        width: 100%;
        filter: drop-shadow(0.1rem 0.1rem 0.1rem black);
        @include mixh.Flex-System(row, center, center, nowrap, 0);
        @include mixh.Media-Screen(500px){top:20vh;}

    }
}
