// ***** Variables: Colores ***** //
$basic-color:#5DC1E0;
$primary-color:#005c81;
$secundary-color:#d40f60;
$tertiary-color:#f84339;
$quaternary-color:#e79a32;
$quinary-color:#368986;
$senary-color:#E90832;
$septenary-color:rgb(24, 24, 24);
$octonary-color:rgb(11, 11, 11);

// ***** Variables: Fuentes ***** //
$primary-text-font:arial black;
$secundary-text-font:'Darumadrop One', cursive;