// ***** Mixin: Flex, Grid and media ***** //
// Flex**
@mixin Flex-System($direction, $justy, $align, $wrap, $gap){
    display: flex;
    flex-direction: $direction;
    justify-content: $justy;
    align-items: $align;
    flex-wrap: $wrap;
    gap: $gap;
}
// Grid **
@mixin Grid-System($columns, $arrows, $gap){
    display: grid;
    grid-template-columns: $columns;
    grid-template-rows: $arrows;
    grid-gap: $gap;
}
// Media Screen**
@mixin Media-Screen($width){
    @media (max-width:$width){
        @content;
    }
}